name: Frontend

on:
  push:
    branches:
      - main

jobs:
  build-and-push-frontend:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend_react
          push: true
          tags: |
            ghcr.io/jaradrj/frontend:latest
            ghcr.io/jaradrj/frontend:${{ github.sha }}

  deploy:
    needs: build-and-push-frontend
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Frontend to Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: hosting.dev.noseryoung.ch
          username: jara
          password: ${{ secrets.DEPLOY_PASSWORD }}
          port: 2222
          script: |
            cd /home/jara
            docker compose pull frontend
            docker compose up -d frontend